.inputTextBox {
  box-sizing: border-box;
  border: var(--base-border, var(--border-gray));
  transition: border-color 0.2s ease-in-out;
  outline: none;
}

.inputTextBox:hover,
.inputTextBox:focus {
  outline: none;
  border: var(--hover-border, var(--border-selected));
}

.inputTextBox::placeholder {
  color: var(--placeholder-color, var(--color-darkGray));
  font-size: var(--placeholder-font-size, var(--font-size-md));
}
