.dropdownButton {
  border: var(--base-border, var(--border-selected));
  transition: border-color 0.2s ease-in-out;
}

.dropdownButton:hover,
.dropdownButton:focus {
  border: var(--hover-border, var(--border-selected));
}

.dropdownItem {
  transition: background 0.2s ease-in-out;
}

.dropdownItem:hover {
  background: var(--item-hover-bg, var(--color-lightLightBlue));
}
