/* TYPOGRAPHY */
.text-primary {
  color: var(--color-black);
}

/* PADDING */

/* All directions */
.padding-4 {
  padding: var(--spacing-xs);
}

.padding-8 {
  padding: var(--spacing-sm);
}

.padding-12 {
  padding: var(--spacing-md);
}

.padding-16 {
  padding: var(--spacing-lg);
}

.padding-36 {
  padding: var(--spacing-xl);
}

.padding-48 {
  padding: var(--spacing-2xl);
}

/* Top */

.padding-t-4 {
  padding-top: var(--spacing-xs);
}

.padding-t-8 {
  padding-top: var(--spacing-sm);
}

.padding-t-12 {
  padding-top: var(--spacing-md);
}

.padding-t-16 {
  padding-top: var(--spacing-lg);
}

.padding-t-36 {
  padding-top: var(--spacing-xl);
}

.padding-t-48 {
  padding-top: var(--spacing-2xl);
}

/* Bottom */

.padding-b-4 {
  padding-bottom: var(--spacing-xs);
}

.padding-b-8 {
  padding-bottom: var(--spacing-sm);
}

.padding-b-12 {
  padding-bottom: var(--spacing-md);
}

.padding-b-16 {
  padding-bottom: var(--spacing-lg);
}

.padding-b-36 {
  padding-bottom: var(--spacing-xl);
}

.padding-b-48 {
  padding-bottom: var(--spacing-2xl);
}

/* Left */

.padding-l-4 {
  padding-left: var(--spacing-xs);
}

.padding-l-8 {
  padding-left: var(--spacing-sm);
}

.padding-l-12 {
  padding-left: var(--spacing-md);
}

.padding-l-16 {
  padding-left: var(--spacing-lg);
}

.padding-l-36 {
  padding-left: var(--spacing-xl);
}

.padding-l-48 {
  padding-left: var(--spacing-2xl);
}

/* Right */

.padding-r-4 {
  padding-right: var(--spacing-xs);
}

.padding-r-8 {
  padding-right: var(--spacing-sm);
}

.padding-r-12 {
  padding-right: var(--spacing-md);
}

.padding-r-16 {
  padding-right: var(--spacing-lg);
}

.padding-r-36 {
  padding-right: var(--spacing-xl);
}

.padding-r-48 {
  padding-right: var(--spacing-2xl);
}

/* DISPLAY */
/* Centers both horizontally and vertically */
.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100%;
  text-align: center;
}

/* Centers only horizontally */
.display-center-horizontal {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

/* Centers only vertically */
.display-center-vertical {
  display: flex;
  align-items: center;
  height: 100vh;
}
